*.pyc
*~
__pycache__
myvenv
db.sqlite3	# этот файл содержит локальную базу данных, где будут храниться посты. Эта БД может быть SQLite,  но обычно используется MySQL - она может справиться с большим потоком посетителей.
/static
.DS_Store